html, body, .markdown {
    height: 100%;
}

.layui-fluid {
    margin: 0;
}

.height {
    height: 97%;
}

.title {
    position: absolute;
    top: 41px;
    left: 48px;
    z-index: 999;
    font-size: 30px;
    padding: 10px;
    width: calc(50vw - 78px);
    border: none;
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
}

.editormd {
    width: calc(100vw - 2px) !important;
}

.CodeMirror-code{
    margin-top: 60px;
}

.textarea-header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    background: #c2c2c2;
}

.textarea-header ul, .textarea-header li {
    display: inline-block;
    height: 50px;
}

.textarea-header svg {
    padding: 0 5px;
    height: 50px;
    cursor: pointer;
}

.textarea-header span.submit {
    cursor: pointer;
}

.textarea-header span.submit svg {
    padding-right: 5px;
    vertical-align: middle;
}