html, body {
    background: #f2f2f2;
}

.layui-fluid {
    padding: 0;
}

.layui-header, .layui-nav {
    background-color: #23262E;
}

.layui-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 44px;
    line-height: 44px;
    text-align: center;
    padding: 0 15px;
}

.layui-col-space30{
    margin: 15px 30px;
}

.layui-col-space30>*{
    padding: 30px;
}

.add-pet{
    display: inline-block;
    padding: 12px 0;
    width: 100%;
    height: 48px;
    line-height: 22px;
    text-align: center;
    font-size: 48px;
    cursor: pointer;
    background: transparent;
    color: #333;
}

.add-pet:hover {
    color: #333
}